

  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">

      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

    </div><a class="navbar-brand" href="../../../index.html">
      <div class="d-flex align-items-center py-3"><img class="me-2" src="assets/img/icons/spot-illustrations/falcon.png" alt="" width="20" /><span class="font-sans-serif">Advisory</span>
      </div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
        <li class="nav-item">
          <!-- parent pages--><a class="nav-link " href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span>
            </div>
          </a>

        </li>
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
          <div class="col-auto navbar-vertical-label">Manage
          </div>
          <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
          </div>
        </div>
        <li class="nav-item">
          <!-- parent pages--><a class="nav-link dropdown-indicator" href="#dashboard" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="dashboard">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa fa-cog"></span></span><span class="nav-link-text ps-1">
              MANAGE
            </span>
            </div>
          </a>
          <ul class="nav collapse false" id="dashboard">

            <li class="nav-item"><a class="nav-link " routerLink="view-appointments" routerLinkActive="active_route" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa fa-calendar"></span></span> <span class="nav-link-text ps-1">Appointments</span>
              </div>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="results" routerLinkActive="active_route" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text ps-1">Results</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " routerLink="advisors"  routerLinkActive="active_route" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-people-carry "></span></span><span class="nav-link-text ps-1">Advisors</span>
                </div>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link " routerLink="students"  routerLinkActive="active_route" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fa fa-users"></span></span>   <span class="nav-link-text ps-1">students</span>
                </div>
              </a>
            </li>

          </ul>
        </li>





        <li class="nav-item">
          <!-- label-->
          <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">pprogrammes
            </div>
            <div class="col ps-0">
              <hr class="mb-0 navbar-vertical-divider" />
            </div>
          </div>
          <!-- parent pages--><a class="nav-link " routerLink="programmes" routerLinkActive="active_route" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="email">
            <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text ps-1">Programmes</span>
            </div>
          </a>








        </li>

      </ul>

    </div>
  </div>

