<div class="card">
  <div class="card-body">
    <ul
      class="nav nav-tabs border-0 chart-tab flex-nowrap"
      id="audience-chart-tab"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <a
          class="nav-link mb-0 active"
          id="users-tab"
          data-bs-toggle="tab"
          href="#users"
          role="tab"
          aria-controls="users"
          aria-selected="true"
        >
          <div class="audience-tab-item p-2 pe-4">
            <h6 class="text-800 fs--2 text-nowrap">Connections</h6>
            <h5 class="text-800">{{ stats?.connections }}</h5>
            <div class="d-flex align-items-center">
              <span class="fas fa-caret-up text-success"></span>
              <h6 class="fs--2 mb-0 ms-2 text-success"></h6>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link mb-0"
          id="sessions-tab"
          data-bs-toggle="tab"
          href="#sessions"
          role="tab"
          aria-controls="sessions"
          aria-selected="false"
        >
          <div class="audience-tab-item p-2 pe-4">
            <h6 class="text-800 fs--2 text-nowrap">Appointments</h6>
            <h5 class="text-800">{{ stats.total_appointments }}</h5>
            <div class="d-flex align-items-center">
              <span class="fas fa-caret-up text-success"></span>
              <h6 class="fs--2 mb-0 ms-2 text-success"></h6>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="card h-lg-100">
  <div class="card-body h-100 pe-0">
    <div class="chart-container">
      <canvas id="MyChart">{{ chart }}</canvas>
    </div>
  </div>
</div>
